#ignore the node modules 
node_modules
shop1.js
product1(using_static).js
shop(MYSQL).js
product(mysql).js
diffTempEngine
cart(fsSystem).js
app1(beforeMongo).js
database(sequelize).js
app1.js
product(sequelize).js
admin(sequelize).js
shop(sequelize).js
sequelize
database(mongo).js
mongo